@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Alkalami', serif;
}

nav ul{
    display: flex;
    align-items: center;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 44px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-image: url("./images/bg.jpg");
    background-size: 100%;
    /* border-image-width: auto; */
    background-color: black;
    color: white;
    font-family: 'Alkalami', serif;
    display: flex;
    margin: 23px auto;
    width: 72%;
    border-radius: 12px;
    padding: 12px;
    flex-direction: row;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 80%;
    color:black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 23px;
}

.songBanner{
    color: black;
}

.songItem img{
    width: 33px;
    margin: 0 23px;
    border-radius: 23px;
}


.bottom{
    position: sticky;
    background-color: black;
    color: white;
    height: 110px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icons{
    margin: 14px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;

}

.timestamp{
    margin: 23px 0;
    padding: auto;
}